Body{
    padding: 0 20px 10px 20px;
    margin:auto;
    max-width: 1500px;
}
.search_General{
    height: 60px;
}
.search_General.form-control::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}
.searchIcon{
    line-height: 4rem;
    position: static;
    transform: translateX(-30px);
}
.form-control::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}
.t7{
    font-size: 0.7em;
}
.logoImg {
    display: flex;
    width: 30%;
    min-width : 200px;
    height: auto;
}
.xIng, .xApp, .xUst{
    z-index: 100;
}

.btn.btn-primary:active
{
    background-color:grey !important;
}
.choices{
    /* width:70vw; */
    max-width:800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding : 10px;
}
.dropdown-item{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 150px;
    display: flex;
    justify-content:flex-start;
    white-space: nowrap;
    padding-left : 15px;

}
.dropdown-item:hover{
    background-color: grey;
}
.hide{
    display: none;
}
.recipe-text{
    overflow: hidden;
    max-width:250px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.card{
    width: 440px;
}
.card-img-top{
    height : 250px;
    background-color: grey;
}
.noResultMessage{
    padding: 50px, 20px, 0px, 20px;
}


